<button mat-icon-button matTooltip="Auto Demo" matTooltipPosition="below" matTooltipShowDelay="500" [fxHide]="true"
  [fxHide.gt-xs]="false" (click)="toggleDemo()">
  <mat-icon *ngIf="!isDemo">play_arrow</mat-icon>
  <mat-icon *ngIf="isDemo">pause</mat-icon>
</button>