table {
  width: 100%;
}

.mat-column-actions {
  max-width: 16px;
}
.button-group {
  margin: 0px 0px;
}
.toolbar-right {
  margin-right: 10px;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
}
th.mat-sort-header-sorted {
  color: black;
}

.spacer {
  flex: 1 1 auto;
}
