<div fxFill fxFlex fxLayout="column">
  <div fxFlex>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button matTooltip="返回群組列表" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'toolbar-right'" (click)="returnGroupManagement()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>{{(group| async)?.group_name}}</span>
      <span class="spacer"></span>

    </mat-toolbar>
  </div>
  <div fxFlex="nogrow" fxLayout="column" class="components-container-gt-xs">

    <div fxFlex="nogrow" fxLayout="row">

      <div fxFlex>
        <app-add-member-bar [updatedType]="'群組'" [members]='members' (addMembersAction)="addMembers($event)">
        </app-add-member-bar>
      </div>


    </div>
    <div fxFlex class="mat-elevation-z8">
      <table mat-table [dataSource]="membersDataSource" matSort>


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="user_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
          <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
        </ng-container>

        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
          <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <ng-container matColumnDef="reserved">
          <th mat-header-cell *matHeaderCellDef> Reserved </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf='row.reserved'>check</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="移除成員" matTooltipPosition="below" matTooltipShowDelay="500"
              color="primary" [disabled]="row.reserved && group.value.reserved" (click)="deleteMember(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>

    </div>
  </div>
  <div fxFlex="grow"></div>
</div>