<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">
  <div fxFlex="nogrow" fxLayout="row">

    <div fxFlex>
      <mat-form-field appearance="outline" class="search-form">
        <mat-label>搜尋群組</mat-label>
        <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="請輸入相關關鍵字..."
          (focus)="searchInput.focusState = true" (focusout)="searchInput.focusState = false">
        <mat-icon matSuffix [color]="searchInput.focusState ? 'primary' : null">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="nogrow">
      <button [disabled]="!(validateGroupManagementPermission('create_child')| async)" mat-fab color='primary' matTooltip="新增群組"
        matTooltipPosition="right" matTooltipShowDelay="500" [ngClass]="'button-add-group'" (click)="createGroup()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
  <div fxFlex class="mat-elevation-z8">

    <table mat-table [dataSource]="groupsDataSource" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="group_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group ID </th>
        <td mat-cell *matCellDef="let row"> {{row.group_id}} </td>
      </ng-container>

      <ng-container matColumnDef="group_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
        <td mat-cell *matCellDef="let row"> {{row.group_name}} </td>
      </ng-container>

      <ng-container matColumnDef="reserved">
        <th mat-header-cell *matHeaderCellDef> Reserved </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf='row.reserved'>check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button [disabled]="!(validateGroupPermission(row,'create')| async)" mat-icon-button matTooltip="編輯群組成員" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editGroup(row)">
            <mat-icon>person_add</mat-icon>
          </button>
          <button [disabled]="!(validateGroupAuthorizableAny(row)| async)" mat-icon-button matTooltip="設定使用者權限" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editGroupAuthorization(row)">
            <mat-icon>settings</mat-icon>
          </button>
          <button [disabled]="row.reserved || !(validateGroupManagementPermission('delete_child')| async)" mat-icon-button matTooltip="移除群組" matTooltipPosition="below"
            matTooltipShowDelay="500" color="primary" (click)="deleteGroup(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>
  </div>
  <div fxFlex="grow">

  </div>
</div>