<mat-nav-list [style.maxHeight]="(menu.open)?'1200px':'48px'"
    [ngClass]="{'secondaryMenu': secondaryMenu, 'primary': !secondaryMenu}">
    <mat-list-item *ngIf="secondaryMenu==false" (click)="menu.open = !menu.open">
        <mat-icon matListIcon matTooltip={{menu.name}} [matTooltipDisabled]="!iconOnly">{{menu.icon}} </mat-icon>
        <h1 matLine *ngIf="!iconOnly">{{ menu.name }} </h1>
        <mat-icon *ngIf="chechForChildMenu()" class="sidenav-dropdown-indicator rotate "
            [ngClass]="{'indicateOpen':menu.open}"> expand_more</mat-icon>
    </mat-list-item>

    <mat-list-item *ngIf="secondaryMenu!=false" (click)="menu.open = !menu.open" [routerLink]="[menu.link]">
        <mat-icon matListIcon matTooltip={{menu.name}} [matTooltipDisabled]="!iconOnly">{{menu.icon}} </mat-icon>
        <h1 matLine *ngIf="!iconOnly">{{ menu.name }} </h1>
    </mat-list-item>

    <ng-container *ngFor="let submenu of menu?.sub">
        <cdk-sidemenu-item *ngIf='validateChildMenuItem(submenu.authorized_to) | async' [menu]="submenu"
            [iconOnly]="iconOnly" [secondaryMenu]="true">
        </cdk-sidemenu-item>

    </ng-container>
</mat-nav-list>