// .dialog-aciton {
//     padding:-5px !important;
// }
.close {
    position: relative;
    bottom: 25px;
    left: 210px;
  }
.dialog-container {
    max-width: 320px;
    min-width: 320px;
    max-height:90px;
    min-height:90px;

}

.dialog-content-container {
    max-width: 320px;
    min-width: 320px;
    
}