<div >
<h1  mat-dialog-title>訊息提示</h1>
    <mat-dialog-content class='mat-body' style="margin: 24px -24px"> {{message}} </mat-dialog-content>
<mat-dialog-actions align="end">
    <button  mat-raised-button color="primary" (click)="closeDialog()">關閉</button>
</mat-dialog-actions>
</div>

