$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

.login-card {
  min-width: 400px;
  min-height: 200px;
}


.login-title {
  font-size: 20vh;
  color: #111111;
  
}

login-logo { 
  filter: drop-shadow(8px 8px 0px rgb(255, 255, 255));; 
} 
@mixin login-page($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

.login-background{
  /* background-image:url('../../assets/logo.fubon.png'); */
height: 100%;
overflow: hidden;
/* background-repeat: no-repeat;
background-position: center center;
background-size: 90vh 90vh;  */
// background-color:mat-color($primary,600);
background: -webkit-linear-gradient(mat-color($primary,900),mat-color($primary,300));
background: -o-linear-gradient(mat-color($primary,900),mat-color($primary,300));
background: -moz-linear-gradient(mat-color($primary,900),mat-color($primary,300));
background: linear-gradient(mat-color($primary,900),mat-color($primary,300));
}
}
.login-form-field-margin-bottom {
  margin-bottom: 5px;
}