<div fxLayout="column" fxFlexFill class='login-background'>

    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">

        <img src="./assets/logo.takoyaki.png" class="login-logo" width="140vh" @enterintologinpage>
        <h1 class='mat-headline' style="color: azure; font-size: 25px">探索平台</h1>
        <div class="mat-elevation-z8">
            <mat-card class="login-card">
                <mat-card-title>使用者登入
                </mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm">
                        <mat-form-field class="full-width login-form-field-margin-bottom">
                            <input matInput placeholder="Please enter your user ID" formControlName="user_id" required>
                            <mat-error *ngFor="let validation of validation_messages.user_id">
                                <mat-error *ngIf="validateByControl(validation,'user_id')">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width login-form-field-margin-bottom">
                            <input matInput type="password" placeholder="please enter your password"
                                formControlName="password" required>
                            <mat-error *ngFor="let validation of validation_messages.password">
                                <mat-error *ngIf="validateByControl(validation,'password')">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="!userForm.valid"
                            (click)="login()">登入</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <p style="color: azure; font-size: 16px">Account: root or U0 Password: 00000000 (for test)</p>
    </div>

</div>