.tab-icon {
    margin-right: 8px;
  }
  .card-icon {
    margin-right: 8px;
    vertical-align: middle;
  }
  
  @mixin edit-parent-resource-authorization($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
  
    .card-resource-authorization {
      background-color: mat-color($primary, 200);
    }
  }