<div fxFill  fxLayout="column" class="layout components-container-gt-xs">
  <div fxFlex="68px" class="header">Header</div>
  <div fxFlex fxLayout="row" class="main">
    <div fxFlex="200px" class="aside">Aside</div>
    <div fxFlex class="content">Content</div>
  </div>
</div>