<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">
  <div fxFlex="nogrow" fxLayout="row">
    <!-- <div fxFlex="nogrow">
      <button mat-icon-button color="primary" matTooltip="搜尋群組" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'button-add-group'">
        <mat-icon>search</mat-icon>
      </button>

    </div> -->
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-form">
        <mat-label>搜尋使用者</mat-label>
        <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="請輸入相關關鍵字..."
          (focus)="searchInput.focusState = true" (focusout)="searchInput.focusState = false">
        <mat-icon matSuffix [color]="searchInput.focusState ? 'primary' : null">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="nogrow">
      <button [disabled]="!(validateUserManagementPermission('create_child')| async)" mat-fab color='primary' matTooltip="新增使用者" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'button-add-group'" (click)="createUser()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
  <div fxFlex class="mat-elevation-z8">

    <table mat-table [dataSource]="usersDataSource" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
      </ng-container>

      <ng-container matColumnDef="user_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
        <td mat-cell *matCellDef="let row"> {{row.user_name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="reserved">
        <th mat-header-cell *matHeaderCellDef> Reserved </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf='row.reserved'>check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">

          <button [disabled]="!(validateUserManagementPermission('create_child')| async)" mat-icon-button matTooltip="編輯使用者" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editUser(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="row.reserved || !(validateUserManagementPermission('delete_child')| async)" mat-icon-button matTooltip="移除使用者" matTooltipPosition="below"
            matTooltipShowDelay="500" color="primary" (click)="deleteUser(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>
  </div>
  <div fxFlex="grow">

  </div>
</div>