@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans TC Thin'), local('NotoSansTC-Thin'), url(../otf/-nFlOG829Oofr2wohFbTp9i9WxEIK_E.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans TC Light'), local('NotoSansTC-Light'), url(../otf/-nFkOG829Oofr2wohFbTp9i9kwMfDNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), url(../otf/-nF7OG829Oofr2wohFbTp9i1OCEJ.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans TC Medium'), local('NotoSansTC-Medium'), url(../otf/-nFkOG829Oofr2wohFbTp9i9ywIfDNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans TC Bold'), local('NotoSansTC-Bold'), url(../otf/-nFkOG829Oofr2wohFbTp9i9gwQfDNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans TC Black'), local('NotoSansTC-Black'), url(../otf/-nFkOG829Oofr2wohFbTp9i9uwYfDNdX.otf) format('opentype');
}
