<mat-toolbar class="mat-elevation-z4">

    <!-- <button mat-icon-button class="toolbar-user-btn" (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
            <i class="material-icons app-toolbar-menu">menu </i>
        </button>
        <button mat-icon-button class="toolbar-user-btn" (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
            <i class="material-icons app-toolbar-menu">menu </i>
        </button> -->

    <button mat-icon-button matTooltip="側邊欄清單" matTooltipPosition="below" matTooltipShowDelay="500" (click)="sidenav.toggle();drawer.toggle();" *ngIf="matDrawerShow">
        <mat-icon>menu </mat-icon>
    </button>
    <button mat-icon-button matTooltip="側邊欄清單" matTooltipPosition="below" matTooltipShowDelay="500" (click)="sidenav.toggle();" *ngIf="!matDrawerShow">
        <mat-icon>menu </mat-icon>
    </button>
    <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    <cdk-switch-space-button [space$]='space$' ></cdk-switch-space-button>
    <mat-divider class="style-fix" [vertical]="true" fxHide fxShow.gt-xs></mat-divider>

    <div class='toolbar-title'>{{dashboardTitle| async}}</div>
    <span class="spacer"></span>


    <mat-divider class="style-fix" [vertical]="true" fxHide fxShow.gt-xs></mat-divider>
    <cdk-toggle-theme-button></cdk-toggle-theme-button>
    <!-- <mat-divider class="style-fix" [vertical]="true" fxHide fxShow.gt-xs></mat-divider>
    <cdk-demo-buttrn></cdk-demo-buttrn> -->
    <mat-divider class="style-fix" [vertical]="true" fxHide fxShow.gt-xs></mat-divider>
    <cdk-fullscreen></cdk-fullscreen>
    <mat-divider class="style-fix" [vertical]="true"></mat-divider>
    <cdk-user-drop-down></cdk-user-drop-down>

</mat-toolbar>