:host {
  z-index: 4;
}

.main-toolbar {
  height: 64px;
  // padding-left: 16px;
}

.more-btn {
  height: 100%;
  min-width: 70px;
}

// .mat-icon-button {
//   margin-right: 10px;
// }

// .mat-toolbar > * + .mat-divider-vertical {
// 	margin-right: 16px;
// }

// .mat-toolbar > .mat-divider-vertical + * {
// 	margin-right: 24px;
// 	margin-left: -1px;
// }

mat-divider.style-fix {
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
::ng-deep .mat-tooltip {
  font-size: 12px;
}
.toolbar-title {
  font-size: 15px;
  margin-left:5px;
}
@mixin toolbar-custom($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
}
