<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">
  <div fxFlex="nogrow" fxLayout="row">
    <!-- <div fxFlex="nogrow">
      <button mat-icon-button color="primary" matTooltip="搜尋群組" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'button-add-group'">
        <mat-icon>search</mat-icon>
      </button>

    </div> -->
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-form">
        <mat-label>搜尋空間</mat-label>
        <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="請輸入相關關鍵字..."
          (focus)="searchInput.focusState = true" (focusout)="searchInput.focusState = false">
        <mat-icon matSuffix [color]="searchInput.focusState ? 'primary' : null">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="nogrow">
      <button [disabled]="!(validateSpaceManagementPermission('create_child') | async)" mat-fab color='primary' matTooltip="新增使用者" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'button-add'" (click)="createSpace()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
  <div fxFlex class="mat-elevation-z8">

    <table mat-table [dataSource]="spacesDataSource" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="space_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Space ID </th>
        <td mat-cell *matCellDef="let row"> {{row.space_id}} </td>
      </ng-container>
      <ng-container matColumnDef="space_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Space Name </th>
        <td mat-cell *matCellDef="let row"> {{row.space_name}} </td>
      </ng-container>

      <ng-container matColumnDef="icon_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
        <td mat-cell *matCellDef="let row"> <mat-icon svgIcon={{row.icon_name}}></mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="theme_class">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Theme </th>
        <td mat-cell *matCellDef="let row"> {{row.theme_class | removeDash | titlecase}} </td>
      </ng-container>
     
      <ng-container matColumnDef="reserved">
        <th mat-header-cell *matHeaderCellDef> Reserved </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf='row.reserved'>check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">

          <button [disabled]="row.reserved || !(validateSpaceManagementPermission('create_child')| async)" mat-icon-button matTooltip="編輯空間" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editSpace(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="!(validateSpaceAuthorizableAny(row)| async)" mat-icon-button matTooltip="設定使用者權限" matTooltipPosition="below" matTooltipShowDelay="500"
          color="primary" (click)="editSpaceAuthorization(row)">
          <mat-icon>settings</mat-icon>
        </button>
          <button [disabled]="!(validateSpaceManagementPermission('create_child')| async)" mat-icon-button matTooltip="編輯主要資源清單" matTooltipPosition="below" matTooltipShowDelay="500"
          color="primary" (click)="editSpaceResource(row)">
          <mat-icon>list</mat-icon>
        </button>
          <button [disabled]="row.reserved || !(validateSpaceManagementPermission('delete_child')| async)" mat-icon-button matTooltip="移除空間" matTooltipPosition="below"
            matTooltipShowDelay="500" color="primary" (click)="deleteSpace(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>
  </div>
  <div fxFlex="grow">

  </div>
</div>