@import "../app/dashboard/dashboard.component.scss";
@import "../app/core/sidemenu-item/sidemenu-item.component.scss";
@import "../app/core/feedback-menu/feedback-menu.component.scss";
@import "../app/login-page/login-page.component.scss";
@import "../app/space-page/space-page.component.scss";
@import "../app/settings/resource/edit-parent-resource-authorization/edit-parent-resource-authorization.component.scss";
@import "../app/settings/group/edit-group-authorization/edit-group-authorization.component.scss";
@import "../app/settings/space/edit-space-authorization/edit-space-authorization.component.scss";
@import "../app/settings/space/list-space-resource/list-space-resource.component.scss";
@import "../app/core/toolbar/toolbar.component.scss";

@mixin component-themes($light-theme, $dark-theme) {
  @include dashboard($light-theme);
  cdk-sidemenu {
    @include mat-list-theme($dark-theme);
  }
  cdk-sidemenu-item {
    @include sidemenu-item($dark-theme, 20px);
  }
  @include fb-menu($light-theme);
  @include login-page($light-theme);
  @include space-page($light-theme);
  @include edit-parent-resource-authorization($light-theme);
  @include edit-group-authorization($light-theme);
  @include edit-space-authorization($light-theme);
  @include list-space-resource($light-theme);
  @include toolbar-custom($light-theme);
}
