@mixin custom-material-theme($light-theme, $dark-theme) {
  $light-primary: map-get($light-theme, primary);
  $light-accent: map-get($light-theme, accent);
  $light-warn: map-get($light-theme, warn);
  
  $dark-primary:map-get($dark-theme, primary);
  $dark-accent: map-get($dark-theme, accent);
  $dark-warn: map-get($dark-theme, warn);
  
  $hover-color: rgba(black, 0.04);
  
  // global material settings
  // sidenav scroll bar hidden
  .mat-drawer-inner-container {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
  }

  // mat snackbar
  .snackbar-info {
    color: white;
    background: mat-color($light-primary, 900);
  }

  .snackbar-error {
    color: white;
    background: mat-color($light-warn, 900);
  }

  // mat table row hover
  .mat-row:hover {
    background-color: $hover-color;
  }

}
