html {
  height: 100%;
}
body {
  padding: 0px !important;
  margin: 0px !important;
  height: 100%;
}
.components-container-gt-xs {
  padding: 20px;
}
.components-container-xs {
  padding: 5px !important;
}

// .component-preview {
//   padding: 20px;
// }

.ps-content {
  height: 100%;
}
