@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
// @import './assets/css/notosanstc.css';
@import "~@angular/material/theming";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "./styles/global.scss";
@import './styles/component-themes.scss';
@import './styles/custom-material-theme.scss';

@include mat-core();

$hover-color: rgba(black, 0.04);

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover: $hover-color,
  card: white,
  dialog: white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200)
);

$mat-dark-theme-background: (
  status-bar: map_get($mat-grey, 700),
  app-bar:    map_get($mat-grey, 800),
  background: map_get($mat-grey, 900),
  hover:      rgba(white, 0.08),
  card:       map_get($mat-grey, 800),
  dialog:     black,
  disabled-button: $white-12-opacity,
  raised-button: black,
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 700),
  selected-disabled-button: map_get($mat-grey, 600),
  disabled-button-toggle: map_get($mat-grey, 800),
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: map_get($mat-grey, 800),
);

.basic-theme {
  $basic-primary: mat-palette($mat-blue-grey, 600); // origin 600
  $basic-accent: mat-palette($mat-blue-grey, 900);
  $basic-warn: mat-palette($mat-orange);
  $basic-light-theme: mat-light-theme($basic-primary, $basic-accent, $basic-warn);
  $basic-dark-theme: mat-dark-theme($basic-primary, $basic-accent, $basic-warn);
  
  @include angular-material-theme($basic-light-theme);
  @include component-themes($basic-light-theme, $basic-dark-theme);
  @include custom-material-theme($basic-light-theme, $basic-dark-theme);
}
.forest-theme {
  $forest-primary: mat-palette($mat-green, 600); 
  $forest-accent: mat-palette($mat-brown, 900);
  $forest-warn: mat-palette($mat-orange);
  $forest-light-theme: mat-light-theme($forest-primary, $forest-accent, $forest-warn);
  $forest-dark-theme: mat-dark-theme($forest-primary, $forest-accent, $forest-warn);
  
  @include angular-material-theme($forest-light-theme);
  @include component-themes($forest-light-theme, $forest-dark-theme);
  @include custom-material-theme($forest-light-theme, $forest-dark-theme);
}
.grey-theme {
  $grey-primary: mat-palette($mat-grey, 700); 
  $grey-accent: mat-palette($mat-grey, 900);
  $grey-warn: mat-palette($mat-red);
  $grey-light-theme: mat-light-theme($grey-primary, $grey-accent, $grey-warn);
  $grey-dark-theme: mat-dark-theme($grey-primary, $grey-accent, $grey-warn);
  
  @include angular-material-theme($grey-light-theme);
  @include component-themes($grey-light-theme, $grey-dark-theme);
  @include custom-material-theme($grey-light-theme, $grey-dark-theme);
}

.deep-purple-theme {
  $deep-purple-primary: mat-palette($mat-deep-purple, 600); 
  $deep-purple-accent: mat-palette($mat-deep-purple, 900);
  $deep-purple-warn: mat-palette($mat-amber);
  $deep-purple-light-theme: mat-light-theme($deep-purple-primary, $deep-purple-accent, $deep-purple-warn);
  $deep-purple-dark-theme: mat-dark-theme($deep-purple-primary, $deep-purple-accent, $deep-purple-warn);

  @include angular-material-theme($deep-purple-light-theme);
  @include component-themes($deep-purple-light-theme, $deep-purple-dark-theme);
  @include custom-material-theme($deep-purple-light-theme, $deep-purple-dark-theme);
}

.brown-theme {
  $brown-primary: mat-palette($mat-brown, 800); 
  $brown-accent: mat-palette($mat-brown, 900);
  $brown-warn: mat-palette($mat-red);
  $brown-light-theme: mat-light-theme($brown-primary, $brown-accent, $brown-warn);
  $brown-dark-theme: mat-dark-theme($brown-primary, $brown-accent, $brown-warn);
  
  @include angular-material-theme($brown-light-theme);
  @include component-themes($brown-light-theme, $brown-dark-theme);
  @include custom-material-theme($brown-light-theme, $brown-dark-theme);
}


.dark-red-theme {
  $dark-red-primary: mat-palette($mat-red, 800); 
  $dark-red-accent: mat-palette($mat-red, 200);
  $dark-red-warn: mat-palette($mat-amber);
  $dark-red-light-theme: mat-dark-theme($dark-red-primary, $dark-red-accent, $dark-red-warn);
  $dark-red-dark-theme: mat-dark-theme($dark-red-primary, $dark-red-accent, $dark-red-warn);
  
  @include angular-material-theme($dark-red-light-theme);
  @include component-themes($dark-red-light-theme, $dark-red-dark-theme);
  @include custom-material-theme($dark-red-light-theme, $dark-red-dark-theme);
}


.dark-purple-theme {
  $dark-purple-primary: mat-palette($mat-purple, 800); 
  $dark-purple-accent: mat-palette($mat-purple, 500);
  $dark-purple-warn: mat-palette($mat-amber);
  $dark-purple-light-theme: mat-dark-theme($dark-purple-primary, $dark-purple-accent, $dark-purple-warn);
  $dark-purple-dark-theme: mat-dark-theme($dark-purple-primary, $dark-purple-accent, $dark-purple-warn);
  
  @include angular-material-theme($dark-purple-light-theme);
  @include component-themes($dark-purple-light-theme, $dark-purple-dark-theme);
  @include custom-material-theme($dark-purple-light-theme, $dark-purple-dark-theme);
}

.dark-amber-theme {
  $dark-amber-primary: mat-palette($mat-orange, 800); 
  $dark-amber-accent: mat-palette($mat-amber, 500);
  $dark-amber-warn: mat-palette($mat-blue);
  $dark-amber-light-theme: mat-dark-theme($dark-amber-primary, $dark-amber-accent, $dark-amber-warn);
  $dark-amber-dark-theme: mat-dark-theme($dark-amber-primary, $dark-amber-accent, $dark-amber-warn);
  
  @include angular-material-theme($dark-amber-light-theme);
  @include component-themes($dark-amber-light-theme, $dark-amber-dark-theme);
  @include custom-material-theme($dark-amber-light-theme, $dark-amber-dark-theme);
}

.dark-blue-theme {
  $dark-blue-primary: mat-palette($mat-blue, 800); 
  $dark-blue-accent: mat-palette($mat-light-blue, 200);
  $dark-blue-warn: mat-palette($mat-amber);
  $dark-blue-light-theme: mat-dark-theme($dark-blue-primary, $dark-blue-accent, $dark-blue-warn);
  $dark-blue-dark-theme: mat-dark-theme($dark-blue-primary, $dark-blue-accent, $dark-blue-warn);
  
  @include angular-material-theme($dark-blue-light-theme);
  @include component-themes($dark-blue-light-theme, $dark-blue-dark-theme);
  @include custom-material-theme($dark-blue-light-theme, $dark-blue-dark-theme);
}
.dark-green-theme {
  $dark-green-primary: mat-palette($mat-green, 800); 
  $dark-green-accent: mat-palette($mat-green, 200);
  $dark-green-warn: mat-palette($mat-red);
  $dark-green-light-theme: mat-dark-theme($dark-green-primary, $dark-green-accent, $dark-green-warn);
  $dark-green-dark-theme: mat-dark-theme($dark-green-primary, $dark-green-accent, $dark-green-warn);
  
  @include angular-material-theme($dark-green-light-theme);
  @include component-themes($dark-green-light-theme, $dark-green-dark-theme);
  @include custom-material-theme($dark-green-light-theme, $dark-green-dark-theme);
}

.teal-grey-theme {
  $teal-greyprimary: mat-palette($mat-teal, 600); 
  $teal-greyaccent: mat-palette($mat-blue-grey, 900);
  $teal-greywarn: mat-palette($mat-orange);
  $teal-greylight-theme: mat-light-theme($teal-greyprimary, $teal-greyaccent, $teal-greywarn);
  $teal-greydark-theme: mat-dark-theme($teal-greyprimary, $teal-greyaccent, $teal-greywarn);
  
  @include angular-material-theme($teal-greylight-theme);
  @include component-themes($teal-greylight-theme, $teal-greydark-theme);
  @include custom-material-theme($teal-greylight-theme, $teal-greydark-theme);
}

.red-grey-theme {
  $red-grey-primary: mat-palette($mat-red, 800); 
  $red-grey-accent: mat-palette($mat-grey, 900);
  $red-grey-warn: mat-palette($mat-lime);
  $red-grey-light-theme: mat-light-theme($red-grey-primary, $red-grey-accent, $red-grey-warn);
  $red-grey-dark-theme: mat-dark-theme($red-grey-primary, $red-grey-accent, $red-grey-warn);
  
  @include angular-material-theme($red-grey-light-theme);
  @include component-themes($red-grey-light-theme, $red-grey-dark-theme);
  @include custom-material-theme($red-grey-light-theme, $red-grey-dark-theme);
}


// global font setting
$custom-typography: mat-typography-config(
  $font-family: '"Noto Sans TC", Roboto, "Helvetica Neue", sans-serif'
);
@include angular-material-typography($custom-typography);

// $custom-typography: mat-typography-config(
//   $font-family: 'Roboto, "Helvetica Neue", sans-serif',
//   $display-4: mat-typography-level(112px, 112px, 300),
//   $display-3: mat-typography-level(56px, 56px, 300),
//   $display-2: mat-typography-level(45px, 48px, 300),
//   $display-1: mat-typography-level(34px, 40px, 300),
//   $headline: mat-typography-level(14px, 32px, 300),
//   $title: mat-typography-level(20px, 32px, 300),
//   $subheading-2: mat-typography-level(22px, 28px, 300),
//   $subheading-1: mat-typography-level(15px, 24px, 300),
// $body-2: mat-typography-level(14px, 24px, 300),
// $body-1: mat-typography-level(14px, 20px, 300),
//   $caption: mat-typography-level(12px, 20px, 300),
//   $button: mat-typography-level(14px, 14px, 300),
//   $input: mat-typography-level(16px, 1.125, 300)
// )