
.card-list {
  max-height: calc(100vh - 260px); 
}

.card-list-content {
  overflow: auto;
}
.card-list-content::-webkit-scrollbar {
  display: none;
  
}

.card-item {
  cursor: move;
  
}
.card-item.cdk-drag-disabled {
  opacity: 0.4;
  cursor: default;
}
// If items are being reordered through dragging, all other elements should
// reorder smoothly. Also if an item is being dropped, it should animate
// into its target position.
.cdk-drag-animating,
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Hides the placeholder if an element is being dragged.
.cdk-drag-placeholder {
  opacity: 0.2;
 }

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card-list-content.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.button-save {
  margin: 5px 0px;
}

.toolbar-right {
  margin-right: 10px;
}

@mixin list-space-resource($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  @if $is-dark {
    .card-space-resource {
      background-color: mat-color($primary, 700);
    }
  } @else {
    .card-space-resource {
      background-color: mat-color($primary, 300);
    }
  }
}

