<div fxFill fxFlex fxLayout="column">

  <div fxFlex>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button matTooltip="返回空間列表" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'toolbar-right'" (click)="returnSpaceManagement()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>{{(space| async)?.space_name}}</span>
      <span class="spacer"></span>

    </mat-toolbar>
  </div>


  <div fxFlex fxLayout="column" class="components-container-gt-xs">

    <div fxFlex="80px" fxLayout="row">
      <div fxFlex='grow'>
      </div>
      <div fxFlex="nogrow">
        <button [disabled]="!(validateSpaceManagementPermission('create_child') | async)" mat-fab color='primary' matTooltip="儲存設定" matTooltipPosition="right" matTooltipShowDelay="500"
          [ngClass]="'button-save'" (click)='updateSpaceResources()'>
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>


    <div fxFlex fxLayout='row' fxLayoutGap='20px' cdkDropListGroup>

      <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="card-list card-space-resource">

        <mat-card-header>
          <mat-card-title>
            <mat-icon class="card-icon">playlist_add</mat-icon>可鑲嵌之資源清單
          </mat-card-title>
          <mat-card-subtitle>若要<b>新增</b>資源，可以將資源拖移至右方清單</mat-card-subtitle>
        </mat-card-header>

        <div fxFlex='grow' fxLayout="column" fxLayoutGap='5px' class="card-list-content" cdkDropList
          id="EmbeddableResource" [cdkDropListData]="embeddableResourceList"
          [cdkDropListConnectedTo]="['EmbeddableResource']" (cdkDropListDropped)="drop($event)">

          <mat-card fxFlex='nogrow' class='card-item' *ngFor="let resource of embeddableResourceList" cdkDrag>
            <mat-card-content>
              <mat-icon class="card-icon">{{resource.icon_name}}</mat-icon> {{resource.resource_name}}
            </mat-card-content>
          </mat-card>

        </div>

      </mat-card>

      <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="card-list card-space-resource">

        <mat-card-header>
          <mat-card-title>
            <mat-icon class="card-icon">playlist_add_check</mat-icon>已鑲嵌之資源清單
          </mat-card-title>
          <mat-card-subtitle>若要<b>移除</b>資源，可以將資源拖移至左方清單</mat-card-subtitle>
        </mat-card-header>

        <div fxFlex='grow' fxLayout="column" fxLayoutGap='5px' class="card-list-content" cdkDropList
          id="embeddedResource" [cdkDropListData]="embeddedResourceList" [cdkDropListConnectedTo]="['embeddedResource']"
          (cdkDropListDropped)="drop($event)">

          <mat-card fxFlex='nogrow' class='card-item' *ngFor="let resource of embeddedResourceList" cdkDrag  [cdkDragDisabled]="resource.reserved && space.value.reserved">
            <mat-card-content>
              <mat-icon class="card-icon">{{resource.icon_name}}</mat-icon>{{resource.resource_name}}
            </mat-card-content>
          </mat-card>

        </div>

      </mat-card>

    </div>

  </div>

  <div fxFlex='grow'></div>
</div>