<div fxFill fxFlex fxLayout="column">

  <div fxFlex>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button matTooltip="返回空間列表" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'toolbar-right'" (click)="returnSpaceManagement()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>{{(space| async)?.space_name}}</span>
      <span class="spacer"></span>

    </mat-toolbar>
  </div>

  <div fxFlex>
    <mat-tab-group>
      <ng-container *ngFor="let permission of spacePermission">
      <mat-tab *ngIf='validateSpaceAuthorizable(permission.name)| async'>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">perm_data_setting</mat-icon>
          {{permission.label}}
        </ng-template>
        <ng-template matTabContent>
        <div fxFlex fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap='20px' class='components-container-gt-xs'>
          <div fxFlex>
            <mat-card class='card-space-authorization'>
              <mat-card-header>
                <mat-card-title>
                  <mat-icon class="card-icon">person</mat-icon>使用者
                </mat-card-title>
                <mat-card-subtitle>編輯<b>{{permission.label}}</b>權限之使用者</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <app-edit-space-authorization-member [space]='space.value' [permissionName]='permission.name'></app-edit-space-authorization-member>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex>
            <mat-card class='card-space-authorization'>
              <mat-card-header>

                <mat-card-title>
                  <mat-icon class="card-icon">group</mat-icon>群組
                </mat-card-title>
                <mat-card-subtitle>編輯<b>{{permission.label}}</b>權限之群組</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <app-edit-space-authorization-group [space]='space.value' [permissionName]='permission.name'></app-edit-space-authorization-group>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </ng-template>
      </mat-tab>
      </ng-container>
    </mat-tab-group>

  </div>

  <div fxFlex="grow"></div>

</div>