<h1  mat-dialog-title>刪除{{type}}</h1>
    <mat-dialog-content class='mat-body' style="margin: 24px -24px"> {{message}}</mat-dialog-content>
<mat-dialog-actions align="end">
    
    <button  mat-raised-button (click)="closeDialog()">不，不刪除{{type}}</button>
    <button  mat-raised-button color="primary" (click)="confirm()">是的，刪除{{type}}</button>
</mat-dialog-actions>
