<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">



  <div fxFlex="nogrow" fxLayout="row">

    <div fxFlex>
      <app-add-group-bar [updatedType]='"資源"' [groups]='groups' (addGroupsAction)="addMembers($event)">
      </app-add-group-bar>
    </div>

  </div>

  <div fxFlex class="mat-elevation-z8">
    <table mat-table [dataSource]="groupsDataSource" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="group_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group ID </th>
        <td mat-cell *matCellDef="let row"> {{row.group_id}} </td>
      </ng-container>

      <ng-container matColumnDef="group_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
        <td mat-cell *matCellDef="let row"> {{row.group_name}} </td>
      </ng-container>

      <ng-container matColumnDef="reserved">
        <th mat-header-cell *matHeaderCellDef> Reserved </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf='row.reserved'>check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="移除群組" matTooltipPosition="below" matTooltipShowDelay="500" color="primary"
            [disabled]="row.reserved && resource.reserved" (click)="deleteMember(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 7]" [pageSize]='7' showFirstLastButtons></mat-paginator>
  </div>



  <div fxFlex="grow">
  </div>

</div>