.tab-icon {
  margin-right: 8px;
}
.card-icon {
  margin-right: 8px;
  vertical-align: middle;
}

@mixin edit-group-authorization($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);

  @if $is-dark {
    .card-group-authorization {
      background-color: mat-color($primary, 700);
    }
  } @else {
    .card-group-authorization {
      background-color: mat-color($primary, 300);
    }
  }
}