<h1 mat-dialog-title *ngIf="!update">新增使用者</h1>
<h1 mat-dialog-title *ngIf="update">更新使用者</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" fxLayout="column">
    <mat-form-field>
      <mat-label>使用者ID</mat-label>
      <input matInput formControlName="user_id" placeholder="請輸入使用者ID" required >
      <mat-error *ngFor="let validation of validation_messages.user_id">
        <mat-error *ngIf="validateByControl(validation,'user_id')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>使用者名稱</mat-label>
      <input matInput formControlName="user_name" placeholder="請輸入使用者名稱" required>
      <mat-error *ngFor="let validation of validation_messages.user_name">
        <mat-error *ngIf="validateByControl(validation,'user_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" placeholder="請輸入E-mail" required>
      <mat-error *ngFor="let validation of validation_messages.email">
        <mat-error *ngIf="validateByControl(validation,'email')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">取消</button>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="confirm()">確認</button>
</div>