
<div style="height: calc(100% - 64px);">
<perfect-scrollbar >
    <div fxLayout="column" >

        <ng-container *ngFor="let menu of menus | async" >
        <cdk-sidemenu-item *ngIf='validateParentMenuItem(menu) | async' [menu]="menu" [iconOnly]="iconOnly"> </cdk-sidemenu-item>
        </ng-container>

    </div>    
</perfect-scrollbar>
</div>