<h1 mat-dialog-title *ngIf="!update">新增子資源</h1>
<h1 mat-dialog-title *ngIf="update">更新子資源</h1>


<div mat-dialog-content>
  <form [formGroup]="childResourceForm" fxLayout="column">


    <mat-form-field>
      <mat-label>子資源名稱</mat-label>
      <input matInput formControlName="child_resource_name" placeholder="請輸入主要資源名稱" required>
      <mat-error *ngFor="let validation of validation_messages.child_resource_name">
        <mat-error *ngIf="validateByControl(validation,'child_resource_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Icon 樣式</mat-label>
      <mat-select formControlName="icon_name" placeholder="請選擇 Icon 樣式" required>
        <mat-select-trigger>
          <mat-icon class='selected-icon'>{{childResourceForm.value.icon_name}}</mat-icon>
          <span>{{childResourceForm.value.icon_name | removeUnderscore | titlecase}}</span>
        </mat-select-trigger>
        <perfect-scrollbar>
          <mat-option *ngFor="let icon of iconList" [value]="icon">
            <mat-icon>{{icon}}</mat-icon>{{icon | removeUnderscore | titlecase}}
          </mat-option>
        </perfect-scrollbar>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>子資源類型</mat-label>
      <mat-select formControlName="label" placeholder="請選擇子資源" required>
        <mat-select-trigger>
          <span>{{childResourceForm.value.label | removeUnderscore | titlecase}}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let embeddingOption of embeddingOptionList" [value]="embeddingOption">
          {{embeddingOption | removeUnderscore | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <ng-container formGroupName="data">

      <ng-container *ngIf="childResourceForm.controls.label.value === embeddingOption.TABLEAU">

        <ng-container formGroupName='tableau'>

          <!-- <mat-form-field>
          <mat-label>站台名稱</mat-label>
          <input matInput formControlName="site_name" placeholder="請輸入站台名稱">
          <mat-error *ngFor="let validation of validation_messages.site_name">
            <mat-error *ngIf="validateByControl(validation,'site_name')">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field> -->

          <mat-form-field>
            <mat-label>工作簿名稱</mat-label>
            <input matInput formControlName="workbook_name" placeholder="請輸入工作簿名稱">
            <mat-error *ngFor="let validation of validation_messages.workbook_name">
              <mat-error *ngIf="validateByControl(validation,['data','tableau','workbook_name'])">{{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Dashboard 名稱</mat-label>
            <input matInput formControlName="dashboard_name" placeholder="請輸入 Dashboard 名稱">
            <mat-error *ngFor="let validation of validation_messages.dashboard_name">
              <mat-error *ngIf="validateByControl(validation,['data','tableau','dashboard_name'])">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
    <mat-form-field>
        <mat-label>寬度 (px)</mat-label>
        <input matInput type="number" placeholder="請輸入寬度" formControlName="width" min="500" step='50' max='2000'>
        <mat-error *ngFor="let validation of validation_messages.width">
            <mat-error *ngIf="validateByControl(validation,['data','tableau','width'])">
              {{validation.message}}</mat-error>
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>高度 (px)</mat-label>
          <input matInput type="number" placeholder="請輸入高度" formControlName="height" min="400" step='50' max='1600'>
          <mat-error *ngFor="let validation of validation_messages.height">
              <mat-error *ngIf="validateByControl(validation,['data','tableau','height'])">
                {{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        </ng-container>

      </ng-container>

      <ng-container *ngIf="childResourceForm.controls.label.value === embeddingOption.KIBANA">

        <ng-container formGroupName='kibana'>

          <mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput formControlName="url" placeholder="請輸入 Dashboard 位置">
        
            <!-- <mat-error *ngFor="let validation of validation_messages.url">
              <mat-error *ngIf="validateByControl(validation,['data','kibana','url'])">{{validation.message}}</mat-error>
            </mat-error> -->
          </mat-form-field>

        </ng-container>

      </ng-container>

    </ng-container>

  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">取消</button>
  <button mat-raised-button color="primary" [disabled]="!childResourceForm.valid" (click)="confirm()">確認</button>
</div>