<div fxFill fxFlex fxLayout="row" fxLayoutAlign="space-between center">
   <div class='mat-body' fxFlex>
    {{data.message}}
  </div>
  <div fxFlex="nogrow">
    <button mat-icon-button (click)="closeSnackBar()">
      <mat-icon align="right">cancel</mat-icon>
    </button>
  </div>
</div>