<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="更換佈景主題" matTooltipPosition="below" matTooltipShowDelay="500" [fxHide]="true"
  [fxHide.gt-xs]="false" >
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <ng-container *ngFor="let theme of themes" >
      <button mat-menu-item (click)="toggleTheme(theme.theme_class)">
          <mat-icon>color_lens</mat-icon>
          <span>{{theme.theme_name}}</span>
        </button>
  </ng-container>
  <!-- <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>個人檔案</span>
  </button>
  <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>幫助</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>登出</span>
  </button> -->
</mat-menu>