<h1 mat-dialog-title *ngIf="!update">新增空間</h1>
<h1 mat-dialog-title *ngIf="update">更新空間</h1>
<div mat-dialog-content>
  <form [formGroup]="spaceForm" fxLayout="column">
      <mat-form-field>
          <mat-label>空間 ID</mat-label>
          <input matInput formControlName="space_id" placeholder="請輸入空間 ID" required >
          <mat-error *ngFor="let validation of validation_messages.space_id">
            <mat-error *ngIf="validateByControl(validation,'space_id')">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

    <mat-form-field>
      <mat-label>空間名稱</mat-label>
      <input matInput formControlName="space_name" placeholder="請輸入空間名稱" required >
      <mat-error *ngFor="let validation of validation_messages.space_name">
        <mat-error *ngIf="validateByControl(validation,'space_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Icon 樣式</mat-label>
        <mat-select formControlName="icon_name" placeholder="請選擇 Icon 樣式" required>
          <mat-select-trigger>
            <mat-icon class='selected-icon' svgIcon={{spaceForm.value.icon_name}}></mat-icon>
            <span>{{spaceForm.value.icon_name | removeUnderscore | titlecase}}</span>
          </mat-select-trigger>
          <perfect-scrollbar>
            <mat-option *ngFor="let icon of iconList" [value]="icon">
              <mat-icon svgIcon={{icon}}></mat-icon>{{icon | removeUnderscore | titlecase}}
            </mat-option>
          </perfect-scrollbar>
        </mat-select>
      </mat-form-field>

    <mat-form-field>
      <mat-label>主題樣式</mat-label>
      <mat-select formControlName="theme_class" placeholder="請選擇主題樣式" required>
        <mat-select-trigger>
          <mat-icon class='selected-icon'>color_lens</mat-icon>
          <span>{{spaceForm.value.theme_class | removeDash | titlecase}}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let theme of themes" [value]="theme.theme_class">
          <mat-icon>color_lens</mat-icon>{{theme.theme_name | removeDash | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">取消</button>
  <button mat-raised-button color="primary" [disabled]="!spaceForm.valid" (click)="confirm()">確認</button>
</div>