<!-- <button mat-raised-button (click)="show = !show" color="accent">
  {{ show ? 'HIDE' : 'SHOW' }}
</button>

<div class="sample"
     @enterLeave
     *ngIf="show">
</div>

<div class="container" *ngIf="show" @enterLeave>

  <div class="car" *ngFor="let car of cars" @enterLeave [@selected]="car.selected" (@selected.done)="logIt($event)">
    <h5>{{ car.name | uppercase }} ({{ car.year }}) - <i>{{ car.price }}€</i></h5>
    <button mat-raised-button (click)="car.selected === 'selected' ?
                            car.selected = 'notSelected' :
                            car.selected = 'selected'" color="primary">
      {{ car.selected === 'selected' ? 'Deselect' : 'Select' }}
    </button>
  </div>

</div> -->

<iframe frameBorder="0"
  src="http://localhost:5601/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval:(pause:!f,value:900000),time:(from:now-7d,mode:quick,to:now))&_a=(description:'Analyze+mock+eCommerce+orders+and+revenue',filters:!(),fullScreenMode:!f,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(vis:(colors:('Men!'s+Accessories':%2382B5D8,'Men!'s+Clothing':%23F9BA8F,'Men!'s+Shoes':%23F29191,'Women!'s+Accessories':%23F4D598,'Women!'s+Clothing':%2370DBED,'Women!'s+Shoes':%23B7DBAB))),gridData:(h:10,i:'1',w:36,x:12,y:18),id:'37cc8650-b882-11e8-a6d9-e546fe2bba5f',panelIndex:'1',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(vis:(colors:(FEMALE:%236ED0E0,MALE:%23447EBC),legendOpen:!f)),gridData:(h:11,i:'2',w:12,x:12,y:7),id:ed8436b0-b88b-11e8-a6d9-e546fe2bba5f,panelIndex:'2',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:7,i:'3',w:18,x:0,y:0),id:'09ffee60-b88c-11e8-a6d9-e546fe2bba5f',panelIndex:'3',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:7,i:'4',w:30,x:18,y:0),id:'1c389590-b88d-11e8-a6d9-e546fe2bba5f',panelIndex:'4',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:11,i:'5',w:48,x:0,y:28),id:'45e07720-b890-11e8-a6d9-e546fe2bba5f',panelIndex:'5',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:10,i:'6',w:12,x:0,y:18),id:'10f1a240-b891-11e8-a6d9-e546fe2bba5f',panelIndex:'6',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:11,i:'7',w:12,x:0,y:7),id:b80e6540-b891-11e8-a6d9-e546fe2bba5f,panelIndex:'7',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(vis:(colors:('0+-+50':%23E24D42,'50+-+75':%23EAB839,'75+-+100':%237EB26D),defaultColors:('0+-+50':'rgb(165,0,38)','50+-+75':'rgb(255,255,190)','75+-+100':'rgb(0,104,55)'),legendOpen:!f)),gridData:(h:11,i:'8',w:12,x:24,y:7),id:'4b3ec120-b892-11e8-a6d9-e546fe2bba5f',panelIndex:'8',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(vis:(colors:('0+-+2':%23E24D42,'2+-+3':%23F2C96D,'3+-+4':%239AC48A),defaultColors:('0+-+2':'rgb(165,0,38)','2+-+3':'rgb(255,255,190)','3+-+4':'rgb(0,104,55)'),legendOpen:!f)),gridData:(h:11,i:'9',w:12,x:36,y:7),id:'9ca7aa90-b892-11e8-a6d9-e546fe2bba5f',panelIndex:'9',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:18,i:'10',w:48,x:0,y:54),id:'3ba638e0-b894-11e8-a6d9-e546fe2bba5f',panelIndex:'10',type:search,version:'7.0.0-alpha1'),(embeddableConfig:(mapCenter:!(28.304380682962783,-22.148437500000004),mapZoom:2),gridData:(h:15,i:'11',w:24,x:0,y:39),id:'9c6f83f0-bb4d-11e8-9c84-77068524bcab',panelIndex:'11',type:visualization,version:'7.0.0-alpha1'),(embeddableConfig:(),gridData:(h:15,i:'12',w:24,x:24,y:39),id:b72dd430-bb4d-11e8-9c84-77068524bcab,panelIndex:'12',type:visualization,version:'7.0.0-alpha1')),query:(language:lucene,query:''),timeRestore:!t,title:'%5BeCommerce%5D+Revenue+Dashboard',viewMode:view)"
  height="100%" width="100%"></iframe>

<!-- <div fxLayout="column" fxLayoutAlign="start end"> -->
<div class="fb-meau-container" (mouseenter)="mouseHovering()" (mouseleave)="mouseLeaving()">
  <div *ngIf="!isHovering" class="fb-menu-item">
    <div class="fb-icon fb-icon-radius" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="white-icon">feedback</mat-icon>
    </div>
  </div>

  <div *ngIf="isHovering" class="fb-menu-item">
    <!-- <div class="fb-icon" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="white-icon">home</mat-icon>
      </div> -->
    <div [@listAnimation]="menuItem.length">
      <div *ngFor="let item of menuItem let first = first; let last = last">
        <div class="fb-icon" [ngClass]="{ 'first-item': first, 'last-item': last }" fxLayout="column"
          fxLayoutAlign="center center" matRipple [matRippleRadius]="23" [matRippleCentered]="true">
          <mat-icon class="white-icon" (click)="clickFeedback()" [ngClass]="{'mouseovered' : item.mouseOvered}"
            (mouseout)="item.mouseOvered=false" (mouseover)="item.mouseOvered=true">{{ item.name }}</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

