// p {
//     font-family: Lato;
//   }
  
//   div {
//     margin: 0 auto;
//   }
  
//   .sample, .car {
//     height: 40px;
//     width: 60%;
//     margin-top: 50px;
//     padding-left: 5%;
//     background-color: #e8e7e7;
//     border-radius: 2px;
//     box-shadow: 1px 1px 3px grey;
//   }
  
//   .car {
//     background-color: #d3d3d3;
//     .mat-raised-button {
//         float: right;
//         height: 100%;
//     }
//   }
  
//   h5 {
//     display: inline-block;
//     line-height: 40px;
//     margin: 0px;
//     color: #6b6a6a;
//     font-family: 'Lato';
//   }


@mixin fb-nav($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

.fb-meau-container {
  position: fixed;
  top: 64px;
  right:20px;
  width: 55px ;
  margin: 20px;
}
.fb-menu-item {
  min-height: 55px;
  width: 55px ;
  // background-color: mat-color($primary,600);
  // border-radius: 50px 50px 50px 50px;
  // display: inline-block;
}
.fb-icon {
  height: 55px;
  width: 55px;
  background-color: mat-color($primary,600);
  // border-radius: 50px 50px 50px 50px;
  display: inline-block;
}
.fb-icon-radius {
  border-radius: 50px 50px 50px 50px;
}
.first-item {
  border-radius: 50px 50px 0px 0px;
}
.last-item {
  border-radius: 0px 0px 50px 50px;
}
.white-icon {
  color: white;
}
}

// icon mouseover
.mouseovered {
  animation-name: mouseoveredscale;
  animation-duration: 0.5s;
  transform: scale(1.3);
}

@keyframes mouseoveredscale {
  0%   {transform: scale(1.2);}
  50%   {transform: scale(1.5);}
  100%   {transform: scale(1.3);}
}

