<button type="submit" (click)="login()">Login</button>
<button type="submit" (click)="getinfo()">GetInfo</button>
<button type="submit" (click)="clean()">CleanToken</button>
<button type="submit" (click)="refresh()">RefreshToken</button>
<p style="word-break: break-all;">
    access_token: {{access_token}}
</p>
<p style="word-break: break-all;">
    refresh_token: {{refresh_token}}
</p>
<p style="word-break: break-all;">
    expires_at: {{expiration_time}}
</p>
<p style="word-break: break-all;">
    log_in: {{log_in}}
</p>
<p style="word-break: break-all;">
    user_id: {{user_id}}
</p>
<p style="word-break: break-all;">
    resource_policy: {{resource_policy}}
</p>

