<mat-sidenav-container fullscreen>

  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <div fxLayout='column' >
      <div fxFlex >
        <mat-toolbar color='primary' class="mat-elevation-z4">
          <img [src]="logo" class='logoicon'>
          <h1> 智能探索 </h1>
          <span class="spacer"></span>
          <cdk-user-drop-down></cdk-user-drop-down>
        </mat-toolbar>
      </div>
      <div fxFlex fxLayout='column' fxLayoutAlign="start center" >
      <div fxFlex fxLayout="row" fxLayoutGap='50px' fxLayoutAlign="space-around none"
        class="components-container-gt-xs">

        <div fxFlex='grow' fxLayout="column" fxLayoutAlign="center center">
            <ng-container *ngIf='spaceList | async as spaceListFromContainer'>
          <div fxFlex='nogrow' fxLayout="row wrap" fxLayoutAlign="start start" class="space-list-container" [@list]='spaceListFromContainer.length'>
<ng-container *ngFor="let space of spaceListFromContainer">
            <mat-card *ngIf="(validateSpacePermission(space,'read')| async)" matRipple fxFlex fxLayout="column" fxLayoutAlign="center center" class='card-space'
               @items [ngClass]="{'mouseovered' : space.mouseOvered}"
              (mouseout)="space.mouseOvered=false" (mouseover)="space.mouseOvered=true" (click)='accessSpace(space.space_id)'>

              <mat-card-content fxFlex>{{space.space_name}}</mat-card-content>
              <mat-card-content fxFlex>
                <mat-icon svgIcon={{space.icon_name}} class='space-icon'></mat-icon>
              </mat-card-content>
            </mat-card>
          </ng-container>
          </div>
          </ng-container>
        </div>


      </div>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>