@mixin space-page($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
}

.space-list-container {
  height: calc(100vh - 100px);
  overflow: auto;
}

.space-list-container::-webkit-scrollbar {
  display: none;
}

.card-space {
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  margin: 12px;
  cursor: pointer;
}

// mat-card mouseover
.mouseovered {
  animation-name: mouseoveredscale;
  animation-duration: 0.3s;
  transform: scale(1.05);
}

@keyframes mouseoveredscale {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.05);
  }
}

.space-icon {
  transform: scale(6);
}

.logoicon {
  margin-right: 20px;
  width: 36px;
}
