<!-- <cdk-embbedings-toolbar></cdk-embbedings-toolbar> -->
<!-- <cdk-feedback-menu></cdk-feedback-menu> -->
<perfect-scrollbar>
                <cdk-feedback-menu></cdk-feedback-menu>
        <!-- <cdk-embbedings-toolbar></cdk-embbedings-toolbar> -->
        <!-- <div style="height: calc(100% - 66px);"> -->
        <iframe [src]="kibana_url | safe" height="100%" width="100%" frameBorder="0"></iframe>
        <!-- </div> -->
</perfect-scrollbar>

<!-- <iframe  [src]="kibana_url | safe" height="100%" width="100%"></iframe> -->