<h1 mat-dialog-title>新增主要資源</h1>
<div mat-dialog-content>
  <form [formGroup]="parentResourceForm" fxLayout="column">
    <mat-form-field>
      <mat-label>主要資源名稱</mat-label>
      <input matInput formControlName="parent_resource_name" placeholder="請輸入主要資源名稱" required>
      <mat-error *ngFor="let validation of validation_messages.parent_resource_name">
        <mat-error *ngIf="validateByControl(validation,'parent_resource_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Icon 樣式</mat-label>
      <input matInput formControlName="icon_name" placeholder="請選擇 Icon 樣式" required>
      <mat-error *ngFor="let validation of validation_messages.icon_name">
        <mat-error *ngIf="validateByControl(validation,'icon_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Icon 樣式</mat-label>
      <mat-select formControlName="icon_name" placeholder="請選擇 Icon 樣式" required>
        <mat-select-trigger>
          <mat-icon class='selected-icon'>{{parentResourceForm.value.icon_name}}</mat-icon>
          <span>{{parentResourceForm.value.icon_name | removeUnderscore | titlecase}}</span>
        </mat-select-trigger>
        <perfect-scrollbar>
        <mat-option *ngFor="let icon of iconList" [value]="icon">
          <mat-icon>{{icon}}</mat-icon>{{icon | removeUnderscore | titlecase}}
        </mat-option>
      </perfect-scrollbar>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="tag-chip-list">
      <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of parentResourceForm.get('tags')['controls']; let i = index;" [selectable]="selectable"
              [removable]="removable" (removed)="remove(i)">
              {{tag.value}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="輸入標籤(Optional)"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)" />
      </mat-chip-list>
  </mat-form-field>
   
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">取消</button>
  <button mat-raised-button color="primary" [disabled]="!parentResourceForm.valid" (click)="confirm()">確認</button>
</div>