.route-outlet-container {
  height: 100% !important;
  width: 100% !important;
}

@mixin dashboard($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .sidenav {
    background: mat-color($accent, 400);
    border-right: 0px;
    overflow: hidden;
    // position: relative;
    width: 250px;
  }
  .drawer {
    background: mat-color($accent, 400);
    border-right: 0px;
    overflow: hidden;
    // position: relative;
    width: 80px;
  }
  // [no-over-flow] {
  //     overflow: hidden;
  // }
  // .router-outlet{
  //     // position: relative;
  //     // padding: 0px 5px;
  //           // height: calc(100%-64px) !important;
  // }
  .spacer {
    width: 100%;
  }

  .logo {
      // font-size: 26px;
      // font-family: Roboto;
      // color:white;
      // margin-top: 8px;
  }
  .logoicon {
    margin-right: 20px;
    width: 36px;
  }
}
.footer {
  // position: fixed;
  // bottom: 0;
  // width: 100%;
  // height: 40px;
  // background-color: lightslategray;
  // color: white;
  // text-align: center;
  // margin: 0px;
}

.ps {
  overflow-y: auto !important;
}