<!-- <div class='test-theme'> -->
<mat-sidenav-container class="container" fullscreen>

    <mat-sidenav [mode]="sideNavMode" class="sidenav " #sidenav [opened]="sideNavOpened" style="overflow: hidden;"
        @enterintodashboard>

        <mat-toolbar color="primary" class="mat-elevation-z4" style='z-index:500;'>
            <img [src]="space_logo" class='logoicon'>
            <h1 class="logo">
                {{space_name}}
            </h1>
        </mat-toolbar>
       
        <cdk-sidemenu [menus]='menus'></cdk-sidemenu>
         <!-- <mat-toolbar color="primary" class="mat-elevation-z4 "  style='z-index:500;'>Switch Space</mat-toolbar> -->

    </mat-sidenav>

    <mat-sidenav-content style="z-index: unset;overflow: hidden;">

        <mat-drawer-container fullscreen>
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar color="primary" class="mat-elevation-z4">
                    <img [src]="space_logo" class='logoicon'>
                </mat-toolbar>
               
                <cdk-sidemenu [menus]='menus' [iconOnly]="true"></cdk-sidemenu>
                <!-- <mat-toolbar color="primary" class="mat-elevation-z4 "  style='z-index:500;'></mat-toolbar> -->
            </mat-drawer>

            <mat-drawer-content style="overflow: hidden;">
                <div @enterintodashboard>
                    <cdk-toolbar @enterintodashboard [space$]='space$' [sidenav]="sidenav" [drawer]="drawer"
                        [matDrawerShow]="matDrawerShow" style="z-index: 500" class="mat-elevation-z4"></cdk-toolbar>
                </div>
                <perfect-scrollbar style="height: calc(100% - 33px);" @enterintodashboard>
                    <!-- loading progress bar -->
                    <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
                    <div  [hidden]="loading" class='route-outlet-container'
                        [@routeAnimations]="prepareRoute(outlet)">
                        <router-outlet #outlet="outlet"></router-outlet>
                    </div>
                </perfect-scrollbar>


            </mat-drawer-content>
        </mat-drawer-container>

    </mat-sidenav-content>

</mat-sidenav-container>
<!-- </div> -->