<div fxFill fxFlex fxLayout="column">

  <div fxFlex>
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <button mat-icon-button matTooltip="返回主要資源列表" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'toolbar-right'" (click)="returnResourceManagement()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>{{(parentResource| async)?.parent_resource_name}}</span>
      <span class="spacer"></span>

    </mat-toolbar>
  </div>

  <div fxFlex="nogrow" fxLayout="column" class="components-container-gt-xs">

    <div fxFlex="nogrow" fxLayout="row">

      <div fxFlex>
        <mat-form-field appearance="outline" class="search-form">
          <mat-label>搜尋子資源</mat-label>
          <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="請輸入相關關鍵字..."
            (focus)="searchInput.focusState = true" (focusout)="searchInput.focusState = false">
          <mat-icon matSuffix [color]="searchInput.focusState ? 'primary' : null">search</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="nogrow">
        <button [disabled]="!(validateParentResourcePermission('create_child') | async)" mat-fab color='primary'
          *ngIf="!(parentResource| async)?.reserved" matTooltip="新增子資源" matTooltipPosition="right"
          matTooltipShowDelay="500" [ngClass]="'button-add-parent-resource'" (click)="createChildResource()">
          <mat-icon>add</mat-icon>
        </button>

      </div>

    </div>


    <div fxFlex class="mat-elevation-z8">
      <table mat-table [dataSource]="childResourcesDataSource" matSort>


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="child_resource_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Child Resource Name </th>
          <td mat-cell *matCellDef="let row"> {{row.child_resource_name}} </td>
        </ng-container>

        <ng-container matColumnDef="icon_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon>{{row.icon_name}}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
            <td mat-cell *matCellDef="let row"> {{row.label|titlecase}} </td>
          </ng-container>

        <ng-container matColumnDef="reserved">
          <th mat-header-cell *matHeaderCellDef> Reserved </th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf='row.reserved'>check</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
              <button [disabled]="row.reserved || !(validateParentResourcePermission('create_child') | async)" mat-icon-button matTooltip="編輯子資源" matTooltipPosition="below" matTooltipShowDelay="500"
              color="primary" (click)="editChildResource(row)">
              <mat-icon>edit</mat-icon>
            </button>

            <button [disabled]="!(validateChildResourceAuthorizableAny(row)| async)" mat-icon-button matTooltip="設定使用者權限" matTooltipPosition="below" matTooltipShowDelay="500"
              color="primary" (click)="editChildResourceAuthorization(row)">
              <mat-icon>settings</mat-icon>
            </button>

            <button [disabled]="row.reserved || !(validateParentResourcePermission('delete_child') | async)"
              mat-icon-button matTooltip="移除子資源" matTooltipPosition="below" matTooltipShowDelay="500" color="primary"
              (click)="deleteChildResource(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div fxFlex="grow"></div>
</div>