<div class="fb-menu-container" (mouseenter)="mouseHovering()" (mouseleave)="mouseLeaving()">
    <div *ngIf="!isHovering" class="fb-menu-item">
      <div class="fb-icon fb-icon-radius" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="white-icon">feedback</mat-icon>
      </div>
    </div>
  
    <div *ngIf="isHovering" class="fb-menu-item">
      <!-- <div class="fb-icon" fxLayout="column" fxLayoutAlign="center center">
          <mat-icon class="white-icon">home</mat-icon>
        </div> -->
      <div [@listAnimation]="menuItem.length">
        <div *ngFor="let item of menuItem let first = first; let last = last">
          <div class="fb-icon" [ngClass]="{ 'first-item': first, 'last-item': last }" fxLayout="column"
            fxLayoutAlign="center center" matRipple [matRippleRadius]="23" [matRippleCentered]="true">
            <mat-icon class="white-icon" (click)="clickFeedback()" [ngClass]="{'mouseovered' : item.mouseOvered}"
              (mouseout)="item.mouseOvered=false" (mouseover)="item.mouseOvered=true">{{ item.name }}</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>