<div id='div-to-track-size-changes' #divToTrackSizeChanges>
<perfect-scrollbar #psContainer>
  <!-- <cdk-feedback-menu></cdk-feedback-menu> -->
     <div id="vizContainer"></div>

  </perfect-scrollbar>
</div>