// #vizContainer iframe {
//     width: 1920px !important;
// }

#div-to-track-size-changes {
    overflow: hidden;
    height:100%;
    width:100%;
}
#vizContainer {
    // position: relative;
    // padding-bottom: 75%; // This is the aspect ratio
    // width: 3000px !important;
    // height:1027px;
    // overflow-x: auto;
    // overflow-y: hidden;
}
#vizContainer iframe {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100% !important;
    // height: 100% !important;
    // width: 1920px !important;
}