
.add-bar-form-field {
    min-width: 150px;
    max-width: 800px;
    width: 100%;

    
  }
  .sub-option {
    color:#666666;
    font-size: 12px;
  }

.add-bar-chip {
  margin-top:0px !important;
  margin-bottom:0px !important;
  min-height: 26px !important;
}