<mat-form-field appearance="outline" class="add-bar-form-field">
  <mat-label>欲新增群組至{{updatedType}}，請輸入群組 ID 或群組姓名</mat-label>
  <mat-chip-list #chipList>
    <mat-chip color="accent" class='add-bar-chip' *ngFor="let group of groups" [selectable]="selectable"
      [removable]="removable" (removed)="remove(group)">
      {{group.group_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #groupInput [formControl]="groupCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (focus)="groupInput.focusState = true" (focusout)="groupInput.focusState = false">
  </mat-chip-list>
  <button mat-icon-button matSuffix [color]="groupInput.focusState ? 'primary' : null"
    (click)="addGroupsAction.emit(true)">
    <mat-icon>group_add</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <perfect-scrollbar>
      <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
        <div fxFill fxFlex fxLayout="row">
          <div fxFlex='100px'>
            {{group.group_name}}
          </div>
          <!-- <div fxFlex>
          <span class='sub-option'>{{group.group_id}}</span>
        </div> -->
        </div>
      </mat-option>
    </perfect-scrollbar>
  </mat-autocomplete>
</mat-form-field>