<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="切換空間" matTooltipPosition="below"
  matTooltipShowDelay="500" [fxHide]="true" [fxHide.gt-xs]="false">
  <mat-icon svgIcon={{(space$|async)?.icon_name}}></mat-icon>
</button>

<!-- <perfect-scrollbar> -->
<mat-menu #menu="matMenu">

  <ng-container *ngFor="let space of spaceList| async">
    <!-- <perfect-scrollbar > -->
    <button *ngIf="(validateSpacePermission(space,'read')| async)" mat-menu-item (click)='accessSpace(space.space_id)'>
      <mat-icon svgIcon={{space.icon_name}}></mat-icon>
      <span>{{space.space_name}}</span>
    </button>
    <!-- </perfect-scrollbar> -->
  </ng-container>

</mat-menu>
<!-- </perfect-scrollbar> -->