<h1 mat-dialog-title>新增群組</h1>
<div mat-dialog-content>
  <form [formGroup]="groupForm" fxLayout="column">
    <mat-form-field>
      <mat-label>群組ID</mat-label>
      <input matInput formControlName="group_id" placeholder="請輸入群組ID" required>
      <mat-error *ngFor="let validation of validation_messages.group_id">
        <mat-error *ngIf="validateByControl(validation,'group_id')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>群組名稱</mat-label>
      <input matInput formControlName="group_name" placeholder="請輸入群組名稱" required>
      <mat-error *ngFor="let validation of validation_messages.group_name">
        <mat-error *ngIf="validateByControl(validation,'group_name')">{{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">取消</button>
  <button mat-raised-button color="primary" [disabled]="!groupForm.valid" (click)="confirm()">確認</button>
</div>