<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">
  <div fxFlex="nogrow" fxLayout="row">
    <div fxFlex>
      <mat-form-field appearance="outline" class="search-form">
        <mat-label>搜尋主要資源</mat-label>
        <input matInput #searchInput (keyup)="applyFilter($event.target.value)" placeholder="請輸入相關關鍵字..."
          (focus)="searchInput.focusState = true" (focusout)="searchInput.focusState = false">
        <mat-icon matSuffix [color]="searchInput.focusState ? 'primary' : null">search</mat-icon>
      </mat-form-field>
    </div>
    <div fxFlex="nogrow">
      <button [disabled]="!(validateResourceManagementPermission('create_child') | async)" mat-fab color='primary'
        matTooltip="新增主要資源" matTooltipPosition="right" matTooltipShowDelay="500"
        [ngClass]="'button-add-parent-resource'" (click)="createParentResource()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </div>
  <div fxFlex class="mat-elevation-z8">

    <table mat-table [dataSource]="parentResourcesDataSource" matSort>


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="parent_resource_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Resource Name </th>
        <td mat-cell *matCellDef="let row"> {{row.parent_resource_name}} </td>
      </ng-container>

      <ng-container matColumnDef="layer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Layer </th>
        <td mat-cell *matCellDef="let row"> {{row.layer}} </td>
      </ng-container>

      <ng-container matColumnDef="icon_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Icon </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon>{{row.icon_name}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip-list>
            <span *ngFor="let tag of row.tags">
              <mat-chip color='primary'>{{tag}} </mat-chip>
            </span>
          </mat-chip-list>
        </td>
      </ng-container>


      <ng-container matColumnDef="reserved">
        <th mat-header-cell *matHeaderCellDef> Reserved </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon *ngIf='row.reserved'>check</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">

            <button [disabled]="row.reserved || !( validateResourceManagementPermission('create_child') | async)" mat-icon-button matTooltip="編輯主要資源" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editParentResource(row)">
            <mat-icon>edit</mat-icon>
          </button>

          <button [disabled]="!(validateParentResourceAuthorizableAny(row)| async)" mat-icon-button matTooltip="設定使用者權限"
            matTooltipPosition="below" matTooltipShowDelay="500" color="primary"
            (click)="editParentResourceAuthorization(row)">
            <mat-icon>settings</mat-icon>
          </button>
          <button mat-icon-button matTooltip="編輯子資源清單" matTooltipPosition="below" matTooltipShowDelay="500"
            color="primary" (click)="editParentResourceChildren(row)">
            <mat-icon>list</mat-icon>
          </button>

          <button [disabled]="row.reserved || !(validateResourceManagementPermission('delete_child')| async)" mat-icon-button
            matTooltip="移除主要資源" matTooltipPosition="below" matTooltipShowDelay="500" color="primary"
            (click)="deleteParentResource(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]='10' showFirstLastButtons></mat-paginator>
  </div>
  <div fxFlex="grow"></div>
</div>