table {
    width: 100%;
  }

.mat-column-actions{
    max-width: 32px;
}

.button-add-parent-resource {
  margin: 5px 0px;
}
.search-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
}
th.mat-sort-header-sorted {
  color: black;
}