<mat-form-field appearance="outline" class="add-bar-form-field">
  <mat-label>欲新增使用者至{{updatedType}}，請輸入使用者 ID 或使用者姓名</mat-label>
  <mat-chip-list #chipList>
    <mat-chip color="accent" class='add-bar-chip' *ngFor="let member of members" [selectable]="selectable"
      [removable]="removable" (removed)="remove(member)">
      {{member.user_name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #memberInput [formControl]="memberCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (focus)="memberInput.focusState = true" (focusout)="memberInput.focusState = false">
  </mat-chip-list>
  <button mat-icon-button matSuffix [color]="memberInput.focusState ? 'primary' : null"
    (click)="addMembersAction.emit(true)">
    <mat-icon>person_add</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <perfect-scrollbar>
    <mat-option *ngFor="let member of filteredMembers | async" [value]="member">
      <div fxFill fxFlex fxLayout="row">
        <div fxFlex='100px'>
          {{member.user_name}}
        </div>
        <div fxFlex>
          <span class='sub-option'>{{member.user_id}}</span>
        </div>
      </div>
    </mat-option>
  </perfect-scrollbar>
  </mat-autocomplete>
</mat-form-field>