<button mat-icon-button matTooltip="全螢幕縮放" matTooltipPosition="below" matTooltipShowDelay="500" [fxHide]="true"
    [fxHide.gt-xs]="false" (click)="toggleFullscreen()">
    <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
    <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
</button>