
    <!-- <div  fxFlexFill fxLayoutAlign="center center"> -->
  
       <div fxFill fxLayout='column' class='home-page' fxLayoutAlign="start center">
          <div fxFlex='grow'></div> 
        <mat-icon fxFlex='noshrink' fxFlex class='home-page-icon' svgIcon='{{(space$|async).icon_name}}'></mat-icon>
        <div fxFlex='grow'></div> 
        <!-- <div fxFlex='50'></div> -->
  <!-- <mat-icon>dashboard</mat-icon> -->
  </div>

<!-- </div> -->




